<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    /* search bar */
  </style>
  <link rel="stylesheet" href="http://localhost:911/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Lao&display=swap" rel="stylesheet">
 
</head>

<body style="padding:3% 20%;">
  <%- include('./partials/nav') %>
  <h3>role: admin</h3>
 <br> 
  <!-- <button id="button" style="font-size: large;"> -->
  <a id='button' href="/admin/views/err_definition/create">ເພີ່ມ</a>

  <!-- </button> -->
  <!-- search bar -->
  <div class="search-box" style="margin: 2%;">
    <form class="search-form">
      <center>
        <input type="text" name='search' class="search-input" placeholder="ຄົ້ນ​ຫາ..." style="width: 300px;font-size: large;font-family: 'Noto Serif Lao', serif;">
        <button class="search-icon" id="button" style="font-size: large;">&#128269;</button> <!-- This is the Unicode for a magnifying glass -->
      </center>
    </form>
  </div>
  </div>
  <!-- table -->
  <div id="divScroll">
    <table>
      <thead>
        <tr>
          <th>​ລະ​ຫັດ error</th>
          <th>error_message</th>
          <th>ສາ​ເຫດ</th>
          <th>views</th>
          <th>⚙</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < data.data.length; i++) { %>
        <tr>
          <td>
            <a href="/admin/views/err_definition/<%= data.data[i]._id %>?add_views=true">
              <%= data.data[i].code %>
            </a>
          </td>
          <td>
            <%= data.data[i].error_message %>
          </td>
          <td>
            <ol>
              <% if (data.data[i].root_cause && data.data[i].root_cause.length) { %>
              <% data.data[i].root_cause.forEach(cause => { %>
              <li><%= cause %></li>
              <% }) %>
              <% } %>
            </ol>
          </td>

          <td>
            <%= data.data[i].views %>
          </td>
          <td>
            <button id='button' style="background-color: #D52941;" onclick="err_def.remove('<%= data.data[i]._id %>')">ລົບ</button>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

    <div class="pagination">
      <% if(data.total_page === 1 || data.previous === 0 || data.total === 0){ %>
      <!-- <button href="/guest/views/index?page=<%= data.previous - 1 %>" class="prev" disabled>Previous</button> -->
      <%} else{ %>
      <a href="/guest/views/index?page=<%= data.previous - 1 %>" class="prev">Previous</a>
      <% } %>
      <% for(let i =1; i <= data.total_page; i++){ %>
      <% if(i === data.page){ %>
      <button class="page selected" id='' disabled><%= data.page %></button>
      <% }else{ %>
      <a class="page" href="/guest/views/index?page=<%= i %>"> <%= i %> </a>
      <% } %>
      <% } %>
      <% if(data.total_page === 1 || data.next === 0 || data.total === 0){ %>
      <%} else{ %>
      <a class="next" href="/guest/views/index?page=<%= data.next %>">Next</a>

      <% } %>

    </div>
  </div>
  <script>
  
    const err_def = {
      remove: async (_id) => {
        try {
          let text = "ຍືນ​ຍັນ​ການ​ລົບ";
          if (confirm(text) == true) {
            const result = await fetch('/admin/api/err_definition/' + _id, {
              headers: {
                'Content-Type': 'application/json'
              },
              method: 'DELETE',
            })
            // console.log(result)
            if (result.status > 400) throw new Error(result.statusText, {
              cause: result
            })
            window.location.href = window.location.href;
          }
        } catch (e) {
          console.log(e)
          alert(e.message || e.statusText)
        }
      }
    }


    const searchForm = document.getElementById('search-form');
    const searchInput = searchForm.querySelector('input[name="search"]');

    searchForm.addEventListener('submit', (event) => {
      event.preventDefault(); // Prevent the form from submitting

      //   const searchQuery = searchInput.value.trim(); // Get the search query
      if (searchQuery) {
        searchForm.action = `/search?search=${encodeURIComponent(searchInput)}`; // Update the action attribute
        searchForm.submit(); // Submit the form
      }
    });
  </script>
</body>

</html>