<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="http://localhost:911/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Lao&display=swap" rel="stylesheet">
  <style>
    .profile-container {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }

    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
    }

    .user-id {
      margin-right: 20px;
    }
  </style>
</head>

<body>
  <!DOCTYPE html>
  <html>

  <head>

  </head>

  <body>
    <%- include('../user/partials/nav') %>
    <div class="profile-container">
      <h1>Profile Page</h1>
      <div class="profile-info">
        <div class="user-info">
          <div class="user-id">
            <h3>teller id: <%= data.teller_id %></p>
          </div>
          <br>
          <div class="user-username">
            <h3>Username: <%= data.username %></p>
          </div>
        </div>
      </div>
      <div class="buttons">

        <a href='/views/user/<%= data._id %>' id='button'>ແກ້​ໄຂຂໍ້​ມູນ</a> <br> <br>
        <a href='/views/user/update/password/<%= data._id %>' id='button'>update password</a> <br> <br>
        <button id='button' style="background-color: #D52941;" onclick="feature.reset_password('<%= data._id %>')">reset password</button>
      </div>
    </div>
  </body>

  <script>
    const feature = {
      reset_password: async (_id) => {
        try {
          let text = "ຍືນ​ຍັນ​ການ​ reset";
          if (confirm(text) == true) {
            const result = await fetch('/api/user/reset_password', {
              headers: {
                'Content-Type': 'application/json'
              },
              method: 'PATCH',
            })

            let data = await result.json()
            if (result.status >= 400) throw new Error(data.error, {
              cause: data
            })
            // window.location.href = window.location.href;
            alert('reset ສຳ​ເລັດ:: your new password: p@zzw0rd')
          }
        } catch (e) {
          console.log(e)
          alert(e.message || e.statusText)
        }
      },
    }
  </script>

</body>

</html>